$darkmode: true;
$primary: #ffb597;
$onPrimary: #5b1a00;
$primaryContainer: #7b2e0b;
$onPrimaryContainer: #ffdbcd;
$secondary: #e7beaf;
$onSecondary: #442a20;
$secondaryContainer: #5d4035;
$onSecondaryContainer: #ffdbcd;
$tertiary: #d4c68e;
$onTertiary: #383005;
$tertiaryContainer: #50471b;
$onTertiaryContainer: #f1e2a7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0E;
$background: #130F0E;
$onBackground: #ede0dc;
$surface: #201a18;
$onSurface: #ede0dc;
$surfaceVariant: #52433e;
$onSurfaceVariant: #d8c2bb;
$outline: #a08d86;
$shadow: #000000;
$inverseSurface: #ede0dc;
$inverseOnSurface: #362f2d;
$inversePrimary: #9a4521;
